/amazon details.html
/amazon fieldset.html
/Bootstrap-cards.html
/datalist in columns.html
/default style.html
/fieldset and legend.html
/figure.html
/flipkart.html
/form-bootstrap.html
/form-with-bootstrap.html
/form.html
/function.html
/function.js
/headings.html
/home.html
/image alignment.html
/index.html
/Inter Document Link.html
/Intra Document Link.html
/javascript example
/netflix.html
/netflixx.html
/node_modules
/npm
/ordered list.html
/package-lock.json
/package.json
/paragraph.html
/public
/shopper-template.html
/src
/sticky position.html
/tailwind.config.js
/text formating.html
/tickets.html
/unorderd list.html
/zzz.html